body {
  background: #F9F6EF; }

h1 {
  font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em; }

h3 {
  font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em; }

p {
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  color: #262622;
  letter-spacing: .08em;
  line-height: 1.7em;
  font-weight: 400;
  font-style: normal; }

.title {
  letter-spacing: .15em; }

.center {
  text-align: center; }

.left {
  float: left;
  margin-left: 0; }

.epic {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .15em;
  font-size: 3.2em; }

a {
  font-weight: 700;
  text-transform: uppercase; }

.dash {
  border: 2px solid #262622;
  width: 8.33333%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 1px;
  margin-right: auto;
  margin-left: auto; }

.dash-2 {
  border: 2px solid #262622;
  width: 8.33333%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 1px; }

.first {
  margin-top: 5%; }

.secondary {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-style: italic;
  font-weight: 400; }

.panel {
  border-style: none;
  border-width: 0px;
  padding: 2rem 1.75em 1.75em 1.75em;
  color: #262622; }
  .panel.pink {
    background-color: #fe9997; }
  .panel.purple {
    background-color: #a57f92; }
  .panel.green {
    background-color: #97bb97; }
  .panel.yellow {
    background-color: #d69b56; }
  .panel.blue {
    background-color: #7ba4a8; }
  .panel.red {
    background-color: #f26464; }
  .panel .pt-20 {
    padding-top: 30px; }
  .panel > img {
    width: 100%;
    transform-style: preserve-3d; }
  .panel > img:hover {
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1); }

.panel h3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .15em;
  font-size: 1.3em;
  line-height: 1.3em; }

.panel p {
  font-style: italic; }

.link-box {
  background-color: #d9ae5f;
  display: block;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  border-radius: 1px; }

.link-box-text {
  font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: #FFFFFF;
  padding: 1rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: .15em; }

.god-desc {
  font-family: 'Crimson Text', serif;
  font-size: 35px;
  color: #FFAAC3;
  letter-spacing: 4.55px;
  font-weight: 700;
  padding-top: 6%;
  padding-left: 8.33333%; }

.parthenon {
  margin: 0 auto;
  width: 22em;
  padding-bottom: 20px; }

.quiz {
  width: 80%;
  padding-top: 40px;
  margin: auto; }

.question > h1 {
  display: block;
  float: left;
  width: 50%;
  height: 300px;
  padding-right: 5%; }

.answers {
  display: block;
  float: right;
  width: 50%;
  text-align: center; }

.next, #submit {
  display: block;
  float: right;
  margin-top: 20px;
  background-color: #d9ae5f; }
  .next:hover, #submit:hover {
    background-color: #edd8b1; }

.quiz-nav {
  display: block;
  padding-top: 20px;
  float: left;
  width: 50%;
  text-align: center; }

.quiz-nav ul {
  margin: 0; }

.quiz-nav ul li {
  display: inline-block;
  padding: 2px;
  font-size: 1.7em;
  color: #edd8b1; }

.quiz-nav-selected {
  font-size: 2.5em !important;
  color: #d9ae5f !important;
  transition: color 0.8s; }

.quiz-buttons {
  display: block;
  float: right; }

/* the answer part*/
label {
  display: block;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  vertical-align: center;
  background-color: white;
  border-bottom: 2px solid #DADADA; }

/* hides the circle button 
and aligns it with the label*/
input[type="radio"]:empty {
  width: 50%;
  height: 50%;
  position: absolute;
  opacity: 0.01; }

/* cursor for the button*/
input[type="radio"]:hover {
  cursor: pointer; }

/* cursor for label */
input[type="radio"] + label {
  cursor: pointer;
  margin: 0; }

/* when it's hovered*/
input[type="radio"]:hover:not(:checked) + label {
  background-color: #edd8b1;
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s; }

/* when it's checked*/
input[type="radio"]:checked + label {
  background-color: #d9ae5f; }

* {
  box-sizing: border-box; }

body {
  font-size: 15px;
  margin: 0;
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans serif; }

header,
footer,
main,
aisde,
article,
section,
nav,
figure,
figcaption {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
