//  UNIVERSAL

body {
	background: $color-main-3;
}

h1{
	font-family: $font-1;
	text-transform: uppercase;
}

a {
	font-family: $font-1;
	font-weight:400;
	text-transform: uppercase;

}

.title {
	
}

.dash {
	border: 2px solid #D4D4D4;
	width:8.33333%;
	margin-top: 10%;
	margin-bottom:10%;
	margin-right:auto;
	margin-left:auto;
}


.first {
	margin-top: 7%;
}



// INDEX



.test-h1 {
	text-align: center;
	letter-spacing: 15px;
}

.test-body {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	color: $color-main-1;
	letter-spacing: 2.01px;
	line-height: 40px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin-top:2rem;
}

.link-box {
	background-color:$color-main-4;
	display: block;
	height:4rem;
	margin-bottom:4rem;
	margin-top:4rem;
}

.link-box-text {
	text-align:center;
	font-size: 21px;
	color: $color-white;
	letter-spacing: 2px;
	padding-top:1rem;
}



// PROFILE PAGES

.god-desc {
	font-family: 'Crimson Text', serif;
	font-size: 35px;
	color: #FFAAC3;
	letter-spacing: 4.55px;
	font-weight: 700;
	padding-top: 6%;
	padding-left: 8.33333%
}


/* Quiz Style */

#q1{
	background-color: #F2E4C9;
}


