// COLORS
$color-main-black:#262622;
$color-main-gold-light:#d9ae5f;
$color-main-beige:#F9F6EF;
$color-main-4:#FF7849;

$color-red:#d35b5b;
$color-blue:#52a8a1;
$color-purple:#8c5d88;
$color-green:#c9d4ac;
$color-yellow:#dd9f54;
$color-pink:#ca5b90;
$color-white:#FFFFFF;

$normaltext:15px; 


//Sass List
$size-shortnames:('xs','s','md','lg','xl');

//Maps

$boxes-map:(
	p:padding,
	m:margin
	);
$sizes-map:(
	xl3:200px,
	xl2:90px,
	xl:40px,
	l:20px,
	m:10px,
	s:5px
	);
$positions-map:(
	t:top,
	r:right,
	b:bottom,
	l:left
	);

// map-get(mapname,index)
// index(listname,index)

$smallgap: 20px;
$largegap: $smallgap * 2;
$xlargegap: $smallgap * 3;
$xl2largegap: $smallgap * 4;
$xl3largegap: $smallgap * 6;

