// COLORS
$color-main-1:#262622;
$color-main-2:#D3B07F;
$color-main-3:#F9F6EF;
$color-main-4:#FF7849;

$color-red:#FF0000;
$color-blue:#1C1CF4;
$color-purple:#830A89;
$color-green:#1AA516;
$color-yellow:#FFD400;
$color-pink:#FFB0F6;
$color-white:#FFFFFF;
